@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-color: #eab633;
  --secondary-color: #3c454c;

  --light-primary-color: #f5dfa781;

  --dark-grey: #222222;
  --medium-grey: #d9d9d9;
  --light-grey: #eee;

  --white: #ffffff;
  --red: #e63636;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html {
  background-color: var(--secondary-color);
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}

/* GLOBAL STYLES */

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.container-960 {
  width: 960px;
  margin: 0 auto;
}

.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.btn-default {
  background-color: var(--primary-color);
  color: var(--white);
  border-radius: 12px;
  transition: all 0.2s;
  padding: 16px 24px;
  text-transform: uppercase;
  font-weight: 600;

  &:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
  }
}

.btn-secondary {
  background-color: var(--white);
  color: var(--secondary-color);
  border-radius: 12px;
  transition: all 0.2s;
  padding: 16px 24px;
  text-transform: uppercase;
  font-weight: 600;

  &:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
  }
}

.btn-tertiary {
  background-color: var(--primary-color);
  color: var(--white);
  border-radius: 12px;
  transition: all 0.2s;
  padding: 16px 24px;
  text-transform: uppercase;
  font-weight: 600;

  &:hover {
    background-color: var(--white);
    color: var(--primary-color);
  }
}

@media (max-width: 1280px) {
  .container {
    max-width: 720px;
  }

  .btn-default {
    border-radius: 8px;
    padding: 12px 18px;
  }

  .btn-secondary {
    border-radius: 8px;
    padding: 12px 18px;
  }

  .btn-tertiary {
    border-radius: 8px;
    padding: 12px 18px;
  }
}

@media (max-width: 720px) {
  .container {
    max-width: 320px;
  }

  .flex {
    flex-direction: column;
    align-items: center;
  }
}
