<style>
  footer {
    background-color: #0f0f0f;

    
    .info-footer {
      padding: 96px 0 40px;

      .info-footer-bottom {
        justify-content: space-between;
        margin-top: 80px;

        p,
        a {
          color: var(--white);
          transition: all 0.2s;
          padding: 8px 0;
        }

        a:hover {
          color: var(--primary-color);
        }
      }
    }
  }
</style>

<footer>
  <section class="info-footer container">
    <div class="flex info-footer-bottom">
      <p>&copy; 2026 Niltin & Pirola. Todos os direitos reservados.</p>
      <p>
        <a href="#">Política de Privacidade</a> | <a href="#">Termos de Uso</a>
      </p>
    </div>
  </section>
</footer>
